textarea {
    resize: none;
}

#scrapsField .message-cards{
    height: 200px;
    overflow-y: scroll;
}


::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow:inset 0 0 6px rgba(0, 0, 0, 0.3); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow:inset 0 0 6px rgba(0, 0, 0, 0.3); 
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

#scrapsField .btn-apagar{
  background-color: rgba(0, 0, 0, 0.3); 
  color: white;
  height: 68%;
}

#scrapsField .btn-apagar:hover{
  background-color: red;
}


#scrapsField .btn-editar{
  height: 3%;
  width: 6%;
  margin-top: 4%;
  margin-left: -6%;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

#scrapsField .btn-editar:hover{
  background-color: green;
}